{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="h2">
            Votre commande a bien été passée
        </div>
        <div class="border">

        </div>
        <div class="border">

        </div>
    </div>
{% endblock %}