.bg-custom{
    background-color:#091a14;
}
.button-fixed{
    bottom: 0;
    position: fixed;
    right: 0;
    border-radius: 4px;
    z-index: 90;
}
.fas{
    cursor: pointer;
    font-size: 24px;
}
p{
    font-size: 14px;
}
.btn-color{
    background-color: #40916c;
    color: white;
}