/******************************
          FOOTER
*******************************/

.height-footer {
    padding-top: 50px;
}

.bg-footer {
    background-color: #1b4332;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px -5px 25px rgba(0, 0, 0, 0.2);
}

.bg-footer h3, .bg-footer p {
    color: white;
}

.div-svg-footer {
    z-index: -1;
    width: 100%;
}

.socialN svg {
    height: 1.5rem;
    fill: white;
}

.socialN svg:hover {
    fill: #40916c!important;

}

.footer-bg-p {
    padding-top: 40px;
}

.bg-footer-paw {
    background-image: none;
}

.logo-footer {
    filter: brightness(10);
}

.bg-footer a {
    color: white;
    text-decoration: none;

}


.link-footer a::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: white;
}

.link-footer a:hover::before {
    content: '';
    width: 0%;
    left: 0;
    background-color: white;
    animation: traitRetour 2s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes traitRetour {
    from {
        width: 0;
    }
    25% {
        width: 100%;
        left: 0;
    }

    50% {
        width: 0%;
        left: 100%;
    }
    75% {
        width: 100%;
        left: 0;
    }
    to {
        left: 0;
        width: 0;
    }
}

/******************************
          End FOOTER
*******************************/
/******************************
          RESPONSIVE
*******************************/

@media screen and (max-width: 1320px) {
    .footer-bg-p {
        padding-top: 22px;
    }
}

@media screen and (max-width: 960px) {
    .footer-bg-p {
        padding-top: 15px;
    }
}

@media screen and (max-width: 540px) {
    .footer-bg-p {
        padding-top: 14px;
    }
}
