/******************************
            NavBar
*******************************/
.main-navbar{
    background-color: white;
    box-shadow: 0px 0px 5px -1px grey;
}
.section-navbar {
    background-color: aliceblue;
}

.div-navbar ul {
    margin-bottom: 0;
}

*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-size: 1rem;
}

i {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-disp a:hover {
    color: black !important;
}

.navbar .nav-item:hover .nav-link {
    color: black;
}

.fade-up a {
    color: black;
}
.a-header{
    text-decoration: none;
}
.fade-up a:hover {
    color: #40916c !important;
}

.a-color {
    color: #0000008c !important;
}

.a-color:hover {
    color: black !important;
}

.section-navbar svg {
    height: 1.5rem;
    padding: 0 0.5rem;

    cursor: pointer;
    position: absolute;
}

svg.searchBar-search {
    fill: #0000008c;
    z-index: 99;
}

svg.searchBar-search:hover {
    fill: black;
}

/* close btn initial style */
svg.searchBar-remove {
    visibility: hidden;
    opacity: 0;
    z-index: 98;
    right: 0;
    transition: 0.5s all ease-in-out;
}

/* close btn open searchBar style */
svg.searchBar-remove.open {
    opacity: 1;
    visibility: visible;
    fill: #0000008c;
    transition: 1s all ease-in-out;
}

/* input initial style */
#searchBar-input {
    width: 2rem;
    background-color: transparent;
    border: none;
    border-radius: 0 !important;
    transition: 500ms width ease-in-out, 500ms padding ease-in-out;
}

#searchBar-input::-webkit-search-cancel-button {
    visibility: hidden;
}

/* input openn searchBar style */
#searchBar-input.open {
    width: 14rem;
    padding: 0.5rem 1rem 0.5rem 4rem;
    border-bottom: 1px solid grey;
}

.p-connexion {
    display: none;
}

.notification {
    text-decoration: none;
    padding: 0px 11px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification:hover > .notif-badge{
    background: #52b98a;
}

.notification > .notif-badge {
    position: absolute;
    top: -11px;
    right: 0px;
    border-radius: 50%;
    background: #40916c;
    font-size: 9px;
    font-weight: 900;
    color: white;
    padding: 3px 7px;
}

@media screen and (max-width: 959px) {
    svg.searchBar-remove {
        transition: 0s all;
    }

    svg.searchBar-remove.open {
        transition: 0s all;
    }

    #form-searchBar {
        top: 0;
        left: 0;
        width: 100%;
        /* padding: 1rem 0;
        background-color: #0a53be; */
    }

    #searchBar-input {
        transition: 0s all;
    }

    #form-searchBar.open {
        padding: 1rem 0;
        background-color: #bf4f1f;
    }

    #searchBar-input.open {
        width: 100%;
        padding: 0.5rem 1rem 0.5rem 4rem;
        border-radius: 12px;
        transition: 0s all;
        border-bottom: 2px black;
        box-shadow: 0 0 2px 0 black;
    }

    .block-icon-connexion {
        display: none;
    }
}

@media all and (min-width: 960px) {
    .block-icon-connexion {

    }
}

/* / ====================
*   Dropdown config     *
==================== / */

@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end {
        right: 0;
        left: auto;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        margin-top: 0;
    }

    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: 0.3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
        width: 10rem;
    }

    .navbar .dropdown-large {
        min-width: 500px;
    }
}

/* / ============ desktop view .end// ============ */

/******************************
          End NavBar
*******************************/

/******************************
          RESPONSIVE
*******************************/

/*@media screen and (max-width: 1320px) {

}



@media screen and (max-width: 540px) {

}*/
