.cat-card {
    border-radius: 20px;
    height: 10rem;
    color: white;
    background-image: url('../images/index/bulle_poisson_droite.png');
}

.page-item > .page-link{
    color: #1b4332!important;
    border-color: #1b4332!important;
}

.active > .page-link{
    color: white!important;
    background-color: #1b4332!important;
    border-color: #1b4332!important;
}