:root{
    --light-green: #41916c;
    --medium-green:#198754;
    --dark-green: #1a4332;
}
/****************************** Body
*/
main{
    margin-top: 75px!important;
    margin-bottom: 75px!important;
}
.mb-section {
    margin-bottom: 7%;
}

ul {
    list-style-type: none;
}

.imgProduct{
    height: auto;
    width: 100px;
}

/* End Body
_______________________________*/
/****************************** H5p-card
*/

h5 {
    font-size: 1.375rem !important;
    margin-bottom: 20px !important;
}

/* End H5
_______________________________*/

/****************************** Border
*/

.rounded-4 {
    border-radius: 20px;
}

/* End Border
_______________________________*/
/******************************* Hoover
*/
.search-hover {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
}

.search-hover:hover {
    width: 300px;
    padding-right: 50px;
}

/* End Hoover
_______________________________*/
/******************************* p-card
*/
.p-card {
    overflow: hidden;
    max-height: 357px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}
.cart-icon {
    position: absolute;
    background-color: #41916c;
    color: #ffffff;
    visibility: visible;
    opacity: 1;
    right: 6px;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    z-index: 10;
}

.p-card > .p-card-content > hr {
    margin: inherit;
    box-shadow: 0px -5px 12px 4px black;
}
.p-card-content{
    text-decoration: none;
    color: black;
}
.p-card-content:hover{
    color: #41916c;
}

.p-card-body{
    padding: 0.5rem 1rem;
    border-top: solid 1px;
}

.p-card-product-brand{
    text-align: left;
    font-size: 14px;
    font-weight: 700;
}
.p-card-product-name{
    text-align: left;
    font-size: 14px;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 0;
}
.p-card-product-price{
    font-weight: 700;
}
.star-text{
    font-size: 12px;
    font-style: italic;
}
.ttc{
    font-size: 12px;
    font-style: italic;
}
.form-contact{
    color: white;
    font-weight: 700;
    background-color: #1c4332;
}
.form-save{
    background-color: white;
    color: #1c4332;
}
.contact-form-label::after{
    position: absolute;
    content: '';
    width: 50%;
    height: 3px;
    background-color: #41916c;
    top: 50%;
    left: 100%;
    transform: translate3d(20%,-50%,0);
}
.account-form{
    width: 600px;
}
.account-form>hr{
    opacity: 1;
    height: 3px;
}
.account-menu>a.active{
    background-color: var(--light-green)!important;
    color: white!important;
}
.account-menu>a{
    color: black!important;
}
p.account-text {
    margin: 0px 0 40px 0;
}
a.account-block-link {
    width: 340px;
    height: 340px;
    background-color: var(--medium-green);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 4px -1px grey;
}
a.account-block-link:hover {
    width: 340px;
    height: 340px;
    background-color: var(--dark-green);
    text-decoration: none;
    color: white;
}
.account-block>p{
    font-size: 30px;
    font-weight: 700;
}
.account-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.account-block>i{
    color: white;
    font-size: 3rem;
}

@media (hover: hover) {
    /* when supported */
    .cart-icon {
        visibility: hidden;
        opacity: 0;
        top: 20px;
        right: 0;
        transition: 0.3s;
    }
     .p-card:hover > .cart-icon {

        visibility: visible;
        opacity: 1;
        right: 6px;
        padding: 10px 10px 10px 10px;
        border-radius: 25px;
    }
    .cart-icon:hover {
        background-color: #1a4332;
        color: white;
        transition: 0.3s;
    }
}
/* End Hoover
_______________________________*/
/******************************
          RESPONSIVE
*******************************/

@media screen and (max-width: 1320px) {
    .footer-bg-p {
        padding-top: 22px;
    }
}

@media screen and (max-width: 960px) {
    .footer-bg-p {
        padding-top: 15px;
    }
}
@media screen and (max-width: 768px) {
    .account-form{
        width: 400px;
    }
}

@media screen and (max-width: 540px) {
    .footer-bg-p {
        padding-top: 14px;
    }
}
