{% extends 'base.html.twig' %}

{% block body %}

        <div class="container pt-5">
            {% include 'parts/breadcrumbs.html.twig' %}
            <h1>Bienvenue sur votre compte</h1>
            <div class="d-flex justify-content-around">
                <a href="{{ path('account_detail') }}"><div class="account-block">Détails du compte</div></a>
                <a href="{{ path('account_order') }}"><div class="account-block">Mes commandes</div></a>
            </div>
        </div>
{% endblock %}