{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <h4>
                Champ d‘application
            </h4>
            <h4>
                Informations sur le droit de rétractation | droit de rétractation & effets de la rétractation
            </h4>
            <h4>
                Prix | validité
            </h4>
            <h4>
                Frais de livraison
            </h4>
            <h4>
                Retours
            </h4>
            <h4>
                Options de livraison
            </h4>
            <h4>
                Disponibilité des produits
            </h4>
            <h4>
                Paiement
            </h4>
            <h4>
                Bons d’achat en ligne
            </h4>
            <h4>
                Essai de nouvelles options de livraison gratuite
            </h4>
            <h4>
                Garantie
            </h4>
            <h4>
                Protection des données
            </h4>
            <h4>
                Langue du contrat | loi applicable | exploitant du site
            </h4>
            <h4>
                Droit de propriété intellectuelle
            </h4>
            <h4>
                Formation du contrat dans la boutique en ligne
            </h4>
            <h4>
                Règlement de litiges en ligne | règlement de litiges de consommation
            </h4>
            <h4>
                Réserve de propriété | revente
            </h4>
        </div>
    </main>
{% endblock %}