{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="container">

            <div>
                <p></p>
                <h2 class="v3-h2"></h2>
                <h3 class="v3-h3">Informations entreprise</h3>
                <p></p>
                <p>La Nîmes'Alerie.fr est le nom commercial de La Nîmes'Alerie AG enregistré en Allemagne.</p>
                <p></p>
                <p></p>
                <h2 class="v3-h2"></h2>
                <h3 class="v3-h3"></h3>
                <i><b>Siège social :</b></i>
                <p></p>
                <p></p>
                <p>La Nîmes'Alerie AG</p>
                <p>Sonnenstraße 15</p>
                <p>80331 München</p>
                <p>Allemagne</p>
                <p><br></p>
                <p><b><i>Contact :</i></b></p>
                <p></p>
                <p>Pour toute question, veuillez contacter notre<b> service client :</b></p>
                <p></p>
                <p></p>
                <ul>
                    <li>Par téléphone au 0033-367-750-142 (appel gratuit depuis un poste fixe en France)</li>
                    <li>Par e-mail : <a href="service@La Nîmes'Alerie.fr" class="v3-link"><b>service@La Nîmes'Alerie.fr</b></a></li>
                    <li>En remplissant notre <b><a href="https://www.La Nîmes'Alerie.fr/contact_us" class="v3-link">formulaire de
                                contact.</a></b></li>
                </ul>
                <p></p>
                <p><br></p>
                <p><b><i>Capital social :</i></b></p>
                <p></p>
                <p>6 101 639 €</p>
                <p><br></p>
                <p></p>
                <p></p>
                <p><b><i>Numéro d’immatriculation au registre du commerce et des sociétés :</i></b></p>
                <p></p>
                <p>Société immatriculée au tribunal d’instance de Munich sous le numéro HRB 125080</p>
                <p>Numéro de TVA intra-communautaire : DE 200 164 421</p>
                <p>Numéro de TVA national : FR34501692511</p>
                <p><br></p>
                <p><b><i>Directoire :</i></b></p>
                <p></p>
                <p>Dr Cornelius Patt</p>
                <p>M. Andreas Maueröder</p>
                <p>Dr Mischa Ritter</p>
                <p><br></p>
                <p></p>
                <p></p>
                <p><b><i>Président du Conseil de Surveillance :</i></b></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p>Karl-Heinz Holland</p>
                <p><br></p>
                <p class=""><i><b>Responsable de la pharmacie en ligne :</b></i></p>
                <p></p>
                <p>Apotheke La Nîmes'Alerie AG ("Lékárna La Nîmes'Alerie AG")</p>
                <p>Mánesova 154/16</p>
                <p>407 53 Jiříkov</p>
                <p>République tchèque</p>
                <p><br></p>
                <p>La Nîmes'Alerie AG est propriétaire et exploitant de la pharmacie La Nîmes'Alerie AG, Jiříkov ("Lékárna La Nîmes'Alerie AG").</p>
                <p><br></p>
                <p><b><i>Pharmacien responsable :</i></b></p>
                <p>RNDr. Mgr. Jiří Tejnecký</p>
                <p>D'après le § 79 al. 6 de la loi n° 378/2007 Slg.</p>
                <p><br></p>
                <p>Titre professionnel officiel :</p>
                <p>Pharmacien (décerné en République tchèque par l'Ordre des pharmaciens tchèque)</p>
                <p><br></p>
                <p>Ordre des pharmaciens compétent :</p>
                <p>Ordre des pharmaciens tchèque</p>
                <p>Česká lékárnická komora</p>
                <p>Rozárčina 1422/9</p>
                <p>140 02 Praha 4</p>
                <p>République tchèque</p>
                <p>Site Internet: <b><a href="https://www.lekarnici.cz/" class="v3-link">//www.lekarnici.cz</a></b></p>
                <p><br></p>
                <p>Code de déontologie :</p>
                <p>Code de déontologie de l’Ordre des pharmaciens tchèque</p>
                <p><b><a href="https://www.lekarnici.cz/" class="v3-link">Informations complémentaires&nbsp;</a></b></p>
                <p><br></p>
                <p><b><i>Organe de contrôle compétent :</i></b></p>
                <p>Autorités régionales de Ustí nad Labem</p>
                <p>Krajský úřad Ústeckého kraje</p>
                <p>Odbor zdravotnictví (Autorité sanitaire)</p>
                <p>Velká hradební 3118/48</p>
                <p>400 02 Ústí nad Labem</p>
                <p>République tchèque</p>
                <p><br></p>
                <p><b><i>Institut d'État pour le contrôle des médicaments (SUKL) :</i></b></p>
                <p>Statni ustav pro kontrolu leciv (SUKL)</p>
                <p>Srobarova 48</p>
                <p>100 41 Praha 10</p>
                <p>République tchèque</p>
                <p>Site Internet: <b><a href="http://www.sukl.cz/" class="v3-link">//www.sukl.cz</a></b></p>
                <p><br></p>
                <p></p>
                <p>Branch Office of La Nîmes'Alerie AG</p>
                <p>La Nîmes'Alerie AG</p>
                <p>Hart van Brabantlaan 10</p>
                <p>5038JL Tilburg</p>
                <p>Netherlands</p>
                <p>KvK-nummer: 71168583</p>
                <p>CBG MEB (Medicines Evaluation Board) License Number: 2921-D</p>
                <p>Site Internet: <b><a href="https://www.cbg-meb.nl/" class="v3-link">https://www.cbg-meb.nl/</a></b></p>
                <p><br></p>
                <p><b><i>Directeurs de la publication :</i></b></p>
                <p></p>
                <p>Dr Cornelius Patt</p>
                <p>M. Andreas Maueröder</p>
                <p>Dr Mischa Ritter</p>
            </div>
            <div class="uxt-sp-text uxt-sp-top-margin uxt-sp-component">
                <p></p>
                <h2 class="v3-h2"></h2>
                <h3 class="v3-h3">Conception et développement du site internet :</h3>
                <p></p>
                <p><b><i>Conception et design :</i></b></p>
                <p>La Nîmes'Alerie AG<br></p>
            </div>
            <div class="uxt-sp-text uxt-sp-top-margin uxt-sp-component">
                <p></p>
                <h2 class="v3-h2"></h2>
                <h3 class="v3-h3">Loi applicable :</h3>
                <p>Les Conditions Générales de Vente sont régies par la loi allemande à l'exclusion du droit commercial des
                    Nations Unis, même si la livraison s'effectue dans un pays autre que l'Allemagne. Ainsi en cas de
                    litige, la loi appliquée sera celle du pays du siège social de la société même si le consommateur n'est
                    pas domicilié dans un des pays de l'union Européenne. Dans l'hypothèse où l'une des présentes clauses
                    serait nulle, cela ne saurait en aucun cas affecter la validité et le respect des présentes Conditions
                    Générales de Vente. Nous nous réservons le droit de modifier ponctuellement ces termes et conditions,
                    c'est pourquoi nous vous recommandons de les consulter régulièrement. Toutefois, les termes et
                    conditions applicables sont celles en vigueur sur le site www.La Nîmes'Alerie.fr à la date de passation de votre
                    commande.<br></p>
                <p></p>
            </div>
            <div class="uxt-sp-text uxt-sp-top-margin uxt-sp-component">
                <p></p>
                <h2 class="v3-h2"></h2>
                <h3 class="v3-h3">Utilisation des données personnelles collectées sur le site :</h3>
                <p>Le traitement automatisé de données à caractère personnel mis en œuvre dans le cadre de ce site internet
                    a été déclaré à la CNIL sous le numéro 1530153. Les données à caractère personnel que vous êtes amenés à
                    nous communiquer sont collectées, enregistrées et traitées par La Nîmes'Alerie conformément à la loi n°78-17 de
                    la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, modifiée par la loi du
                    6 août 2004. Pour plus d’informations et pour connaître vos droits, vous pouvez consulter notre <a
                            href="https://www.La Nîmes'Alerie.fr/content/privacy" class="v3-link"><b>politique de sécurité et de
                            confidentialité des données.</b></a><br></p>
                <p></p>
            </div>
            <div class="uxt-sp-text uxt-sp-top-margin uxt-sp-component">
                <p></p>
                <h2 class="v3-h2"></h2>
                <h3 class="v3-h3">Modération :</h3>
                <div>
                    Vous pouvez formuler un avis et émettre une note d’évaluation sous chacune des fiches produit. Ces avis
                    expriment uniquement l’opinion personnelle des utilisateurs du site. Tous les commentaires, qu’ils
                    soient positifs ou négatifs, sont vérifiés avant publication sur le site. Ainsi, nous nous réservons la
                    faculté de ne pas publier un avis contraire à nos conditions de publication ou aux lois et règlements en
                    vigueur.
                    <br>
                </div>
                <p></p>
            </div>
            <div class="uxt-sp-text uxt-sp-top-margin uxt-sp-component">
                <p></p>
                <h2 class="v3-h2"></h2>
                <h3 class="v3-h3">Propriété intellectuelle :</h3>
                <p>L’ensemble de ce site et chacun des éléments qui le composent (photographies, textes, illustrations,
                    vidéos…) sont soumis à la législation en vigueur sur le droit de la propriété intellectuelle et sont la
                    propriété exclusive de La Nîmes'Alerie et de ses partenaires. L’utilisation de ces contenus n’est autorisée qu’à
                    des fins strictement personnelles. Toute autre forme d’utilisation est interdite sauf autorisation
                    expresse et préalable de La Nîmes'Alerie.</p>
                <p>Les marques et logos de La Nîmes'Alerie et de ses partenaires cités sur ce site sont protégés par la législation
                    relative au droit des marques et des dessins et modèles. Toute reproduction ou représentation totale ou
                    partielle est interdite sauf autorisation expresse et préalable de La Nîmes'Alerie.</p>
                <p>Toute atteinte portée à des droits privatifs de brevets, dessins et modèles, marques ou droit d’auteur
                    constitue une contrefaçon qui engage la responsabilité civile et/ou pénale du contrefacteur.<br></p>
                <p></p>
            </div>
            <div class="uxt-sp-text uxt-sp-top-margin uxt-sp-component">
                <p></p>
                <h2 class="v3-h2"></h2>
                <h3 class="v3-h3">Liens hypertextes :</h3>
                <p>La création de liens hypertextes, simples ou profonds, pointant vers les pages du présent site est
                    autorisée sous réserve :</p>
                <p></p>
                <p></p>
                <ul>
                    <li>de ne pas être utilisée à des fins publicitaires ou commerciales</li>
                    <li>de mentionner clairement la source</li>
                    <li>de ne pas utiliser la pratique du «framing» ou de l’«in-line linking» : le site internet de La Nîmes'Alerie
                        doit apparaître sur une nouvelle fenêtre et ne pas être imbriqué à l’intérieur des pages d’un autre
                        site.
                    </li>
                </ul>
                <p></p>
                <p>La Nîmes'Alerie ne peut être tenu responsable du contenu des liens hypertextes présents sur son site et pointant
                    vers des ressources extérieures.</p>
            </div>
            <div class="uxt-sp-text uxt-sp-top-margin uxt-sp-component">
                <p></p>
                <h2 class="v3-h2"></h2>
                <h3 class="v3-h3">Cookies :</h3>
                <p>Les cookies sont des moyens d'identification numériques transférés sur le disque dur de votre ordinateur
                    grâce à votre navigateur Internet. Le cookie est une technique courante, utilisée par de nombreuses
                    boutiques en ligne. En règle générale, quand vous faites vos achats en ligne, le contenu de votre panier
                    virtuel est mémorisé par des cookies.</p>
                <p>Après vous être identifié(e) (nom d’utilisateur et mot de passe), nous utilisons une « session cookies »,
                    grâce à laquelle vous restez identifié(e) pendant toute la durée de votre visite sur le site. Quand vous
                    quittez le site, la session cookies expire automatiquement.</p>
                <p>Pendant votre période de shopping chez La Nîmes'Alerie, nous transférons des cookies permanents sur votre disque
                    dur. Cela permet à nos systèmes de mémoriser votre panier d'achat lorsque vous faites votre shopping
                    chez nous et de l’enregistrer pour une visite future (jusqu’à 90 jours). Ils permettent aussi
                    d’identifier les abus, par exemple si deux comptes sont attachés à votre ordinateur. Enfin, les cookies
                    nous permettent d’enregistrer les termes que vous avez précédemment recherchés sur le site et de vous
                    les proposer. Sur le site mobile, les cookies sont utilisés pour que nous puissions vous reconnaître dès
                    la page d’accueil, retrouver vos commandes des sept derniers jours ainsi que leurs statuts et saisir
                    automatiquement votre adresse e-mail pour l’identification.</p>
                <p></p>
                <p>Lors de l’utilisation de bannières et de liens publicitaires externes depuis La Nîmes'Alerie, des identifiants
                    spécifiques pour ces actions publicitaires ou parfois des codes de réduction vous sont attribués à
                    l’aide de cookies.</p>
                <p>Les cookies permanents ne contiennent en eux-mêmes aucune donnée à caractère personnel. Les noms, adresse
                    e-mail, adresse IP, etc. ne sont pas enregistrés dans les cookies. Vous ne pouvez être identifié(e) sur
                    la base de votre comportement de navigation.</p>
                <p>Vous pouvez désactiver l’utilisation des cookies dans votre navigateur, la réduire sur certains sites ou
                    encore paramétrer votre navigateur de façon à ce qu’il vous informe dès qu’un cookie est envoyé. À tout
                    moment, vous pouvez supprimer les cookies du disque dur de votre ordinateur. Veuillez cependant noter
                    qu’en bloquant certains cookies, vous êtes susceptibles de ne pas avoir accès à toutes les
                    fonctionnalités de La Nîmes'Alerie.</p>
                <p></p>
                <p>Les cookies peuvent être désactivés grâce à la fonction aide de presque tous les navigateurs. Pour une
                    information détaillée veuillez cliquer <a href="https://www.La Nîmes'Alerie.fr/content/cookies" class="v3-link"><b>ici.</b></a>
                </p>
            </div>
            <div class="uxt-sp-text uxt-sp-top-margin uxt-sp-component">
                <p></p>
                <h2 class="v3-h2"></h2>
                <h3 class="v3-h3">Vente de produits biologiques :&nbsp;</h3>
                <p></p>
                <p>La société La Nîmes'Alerie est contrôlée et certifiée pour la vente d'aliments bio pour animaux domestiques par
                    l'organisme allemand de contrôle suivant :</p>
                <div>
                    <p>Prüfgesellschaft ökologischer Landbau mbH</p>
                    <p>Bahnhofstrasse 9</p>
                    <p>D-76137 Karlsruhe</p>
                    <p>DE-ÖKO-007</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}