{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class=" gradient-custom">
        <div class="container py-5 ">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card rounded-4">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4">
                                <h2 class="fw-bold mb-2 text-uppercase">Connexion à votre compte</h2>
                                <p class="text-dark mb-4">Entrez vos identifiants !</p>
                                <form method="post">
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="inputEmail">Nom d'utilisateur</label>
                                        <input type="email" value="" name="email" id="inputEmail"
                                               class="form-control"
                                               autocomplete="email" required autofocus>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="inputPassword">Mot de passe</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control"
                                               autocomplete="current-password" required>
                                    </div>

                                    <input type="hidden" name="_csrf_token"
                                           value="">
                                    <p class="small mb-4 pb-lg-2"><a class="text-dark" href="#!">Mot de passe oublié ?</a></p>

                                    {#{% if app.user %}
                                        <div class="">
                                            You are logged in as {{ app.user.username }}, <a
                                                    href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}#}
                                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Connexion</button>
                                </form>
                            </div>
                            <div>
                                <p class="mb-0">Vous n'avez pas de compte ? <a href="#!" class="text-dark fw-bold">Enregistrez-Vous</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
