{#<div class="d-flex gap-3">
    <a href="{{ path('admin_index') }}">Accueil admin</a>
    <a href="{{ path('admin_category_index') }}">category</a>
    <a href="{{ path('default') }}">Site</a>
</div>#}
<div>
    <div class="header header-pd" id="header">
        <div class="header_toggle" id="header-open">dd</div>
        <div class="header_img"><img src="{{ absolute_url('https://picsum.photos/200') }}" alt=""></div>
    </div>

</div>
