{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product-list.css') }}">
{% endblock %}

{% block body %}


    <div class="container">
        {% include 'parts/breadcrumbs.html.twig' %}

        <h1>Nos produits</h1>
        <div class="row gap-4 justify-content-center py-5">


                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}