{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product-list.css') }}">
{% endblock %}
{% block body %}
    <div class="container pt-5">
        {% include 'parts/breadcrumbs.html.twig' %}
        <h1 class="text-center my-5"> </h1>
        <div class="d-flex justify-content-around flex-wrap mb-5 gap-5">
            {% for categorie in categories %}
                <a href="{{ path('product_list', {'idCat':categorie.id, 'currentPage': 1, 'nbDisplayed': 2}) }}" class="account-block-link border">
                    <div class="account-block">
                        <p>{{ categorie.label }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="container pt-5">
        <div class="row gap-4 justify-content-center py-5">

        </div>
    </div>



{% endblock %}