{% extends 'admin_base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center flex-wrap mb-5">
        <h1>Création d'une nouvelle catégorie</h1>
        <a href="{{ path('admin_category_index') }}" class="btn btn-dark">Retour</a>
    </div>


    {{ include('admin/category/_form.html.twig') }}

{% endblock %}
