{% extends 'admin_base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center flex-wrap mb-5">
        <h1>Création d'une nouveau produit</h1>
        <a href="{{ path('admin_product_index') }}" class="btn btn-dark">Retour</a>
    </div>


    {{ include('admin/product/_form.html.twig') }}


{% endblock %}
