{% extends 'admin_base.html.twig' %}

{% block title %}Brand index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center flex-wrap mb-5">
        <h1 class="mb-4">Administration des Marques</h1>
        <a href="{{ path('admin_brand_new') }}" class="btn btn-success">Ajouter une marque</a>
    </div>
    <table class="table mt-4">
        <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        {% for brand in brands %}
            <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.label }}</td>
                <td>
                    <a href="{{ path('admin_brand_edit', {'id': brand.id}) }}" class="btn btn-success">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune marque trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
