<div class="container-fluid footer-bg-p px-0 position-relative">
    <div class="position-absolute div-svg-footer top-0">

        <svg class="svg-footer" width="100%" height="100%" viewBox="0 0 1440 112" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-4.97323e-05 12.0031V162.003H1440V12.0031C1350 -27.9978 1191 45.2814 1080 45.502C940 45.2814 889 12.5029 720 12.5029C551 12.5029 501.5 45.2825 360 45.2826C249 45.2826 89.9999 -27.9978 -4.97323e-05 12.0031Z" fill="#081C15" />
        </svg>
    </div>

    <div class="bg-footer container-fluid px-5 pt-2">
        <div class="row">
            <div class="col-lg-2 col-sm-6 text-break">
                <h3>Contact</h3>
                <p>
                    0473702832<br>
                    contact@lanimesalerie.fringill
                </p>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h3>Adresse</h3>
                <p>
                    42 Chem. du Capouchine,<br>
                    30900 Nîmes
                </p>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h3>Horaire d'ouverture</h3>
                <p>
                    En semaine : 9h - 18h<br>
                    Samedi : 10h - 18h
                </p>
            </div>
            <div class="col-lg-2 col-sm-12">
                <a class="navbar-brand me-5" href="#"><img src="{{ asset('images/logo_min.png') }}" alt="logo" width="100"  class="img-fluid logo-footer"></a>
            </div>
            <div class="col-lg-2 col-sm-12">
                <h3>SEO</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui laoreet facilisis urna ut non
                    turpis ornare purus.
                </p>
            </div>
            <div class="col-lg-2 col-sm-12">
                <h3 class="text-end bg-footer-paw">Réseaux </br> sociaux </h3>
            </div>
            <div class="col-12 d-flex pb-5 gap-4">
                <a href="{{ path('mentions-legales') }}">Mentions légales</a>
                <a href="{{ path('cgv') }}">CGV</a>
                <a href="#">FAQ</a>
                <a href="#">Plan du site</a>
            </div>
        </div>
    </div>
</div>